* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
}
.upr-case {
  text-transform: uppercase;
}

/******************************************/

/********************NAV*******************************/
.nav-head {
  background-color: #0c65ed;
  color: #ffffff;
  padding: 1% 0;
  font-size: 14px;
}
.nav-head-ul {
  list-style: none;
  margin-right: 2%;
  margin-bottom: 0;
  width: 30%;
  padding-left: 0;
}
.nav-head-ul li {
  display: inline-block;
  padding-right: 10%;
  font-size: 15px;
}
.nav-head-ul::after {
  content: " ";
  background-color: #ffffff;
  padding: 3% 0.2%;
}
.nav-head-email {
  display: inline-block;
  width: 45%;
  margin-right: 2%;
  box-sizing: border-box;
}
/* .nav-head-email::after {
  content: " ";
  background-color: #ffffff;
  padding: 3% 0.2%;
  margin: 0 10%;
} */
.nav-head-contact {
  width: 65%;
}
.nav-head-phone {
  width: 45%;
  display: inline-block;
}
.nav-head-phone::after {
  content: " ";
  background-color: #ffffff;
  padding: 3% 0.2%;
}
/*********************************************/
.custom-img-intro {
  filter: brightness(0.15);
  height: 45vw;
  object-fit: cover;
}

.carousel-indicators {
  top: 50%;
  right: -10%;
}
.carousel-indicators [data-bs-target] {
  width: 0.5vw !important;
  margin-bottom: 20%;
  height: 0.5vw !important;
  transition: 200ms;
  color: #ffffff;
}

.carousel-indicators [data-bs-target]:hover {
  width: 0.75vw !important;
  height: 0.75vw !important;
  transition: 200ms;
  background-color: transparent;
  border: 0.1vw solid #ffffff;
}
.carousel-indicators [data-bs-target]:active {
  width: 1.5vw !important;
  height: 1.5vw !important;
  background-color: transparent;
  border: solid #ffffff;
}
.carousel-indicators {
  left: auto;
  flex-direction: column;
  justify-content: space-between;
  bottom: auto;
}
.carousel-caption {
  bottom: 15%;
}
.slider-title {
  font-size: 60px;
  margin-bottom: 3%;
}
.slider-paragraph {
  /* width: 50%; */
  display: block;
  margin: 0 22%;
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.slider-btn1,
.slider-btn2 {
  color: #fff;
  background-color: #0c65ed;
  border-radius: 50px;
  padding: 1% 2%;
  margin-top: 4%;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
}
.slider-btn2 {
  border: 2px solid #fff;
  background-color: transparent !important;
  padding: 1% 3%;
  margin-left: 2%;
}
.slider-btn2:hover,
.slider-btn1:hover {
  color: #fff;
}
/*****************************************************/
.settings-icon {
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  padding: 0 0.2%;
  position: fixed;
  top: 55%;
  background-color: #ffffff;
  z-index: 2;
  color: #000;
}
.settings-icon:hover {
  color: rgb(51, 51, 51);
  cursor: pointer;
  /* opacity: 0.98; */
}
/*********************************************/
.nav-link,
.dropdown-item {
  color: #1a1a1a;
  font-family: 14px;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:active {
  color: #0c65ed;
}
.dropdown-item:hover {
  color: #0c65ed;
  background-color: transparent;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.dropdown-menu {
  border-radius: 0;
  border-top: #0c65ed solid;
  /* padding: 3% 2%; */
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  transition: all 0.3s ease;
}
/**********************ABOUT US**********************/
.about {
  padding: 10% 0;
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
}
.about-us-header {
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
}
.about-content {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  margin-top: 4%;
}
.abt-features {
  width: 24%;
  padding: 0 2%;
  box-shadow: 0px 0px 60px 0px rgba(128, 93, 93, 0.2);
  border-radius: 0;
  border-color: #ffffff;
  position: absolute;

  z-index: 1;
  top: 4%;
  left: 5%;
}
.abt-us-img {
}
.abt-paragraph {
  position: absolute;
  right: 0%;
  top: 4%;
  color: #423939;
  line-height: 1.8;
  padding: 2% 0%;
  text-align: left;
  padding-top: 0;
}
.abt-card {
  margin: 5% 0;
}
.card-post {
  padding-left: 4%;
  border-left: 0.8px solid rgb(204, 204, 204);
  color: rgb(82, 68, 68);
  margin-left: 3%;
}
.card-post h5 {
  font-weight: 700;
}
/* .card-post::before {
  content: "\f0a1";
  vertical-align: center;
} */

.card-icon {
  display: table-cell;
  vertical-align: middle;
  align-self: center;
  line-height: 1.5;
  width: 12%;
  margin: auto;
  font-size: 25px;
}

/***************************************************************************/
/*************************COUNTERS*************************************************/
.counters {
  padding: 7% 0;
  background-color: #f9f9f9;
}
.counter-body {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-bottom: 2%;
}
.count-icon {
  display: inline-block;
  vertical-align: middle;
  color: #0c65ed;
  background-color: #fff;
  padding: 6% 6%;
  font-size: 40px;
  margin-right: 5%;
  box-shadow: 0px 0px 50px 0px rgba(67, 67, 67, 0.25);
}
.count-num-div {
  display: inline-block;
  vertical-align: middle;
}
/*****************************SEVICES*****************************/
.services-bg {
  background-image: url(https://dazzlersoftware.com/testwp/munix-pro/wp-content/themes/munix-pro/img/service-bg.jpg);
  /* filter: brightness(0.1); */
  height: 850px;
  color: #ffffff;
}
.clear {
  clear: both;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.89);
  height: 100%;
}
.services-content {
  padding: 5%;
}

.service-card {
  position: relative;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 2%;
  box-sizing: border-box;
}
.service-card-title {
  font-weight: bold;
  font-size: 30x;
}
.service-card-one {
  width: 100%;
  text-align: center;
  line-height: 1.8;
  padding: 20% 2%;
  font-size: 25px;
  background-color: transparent;
  color: #ffffff;
}

.service-card-two {
  background-color: #ffffff;
  color: #000;
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: all 0.2s ease;
  text-align: center;
  padding: 4% 2%;
  box-sizing: border-box;
  width: 100%;
  opacity: 0;
  vertical-align: middle;
}

.service-card:hover .service-card-two {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.service-card-icon {
  margin-bottom: 6%;
  /* width: 30%; */
}
/**********************OUR WORK******************************************************/
.nav-pills {
  /* -bs-nav-pills-border-radius: 0.375rem; */
  --bs-nav-pills-link-active-color: rgb(12, 100, 235);
  --bs-nav-pills-link-active-bg: transparent;
}
/* .nav-item ::after {
  content: "  /";
  /* margin-left: 0.2%; 
  text-align: center;
} */
.ourwork-sec {
  padding: 7% 0;
}
.project-body {
  position: relative;
  /* overflow: hidden; */
  text-align: center;
  /* padding: 0; */
  margin-bottom: 2%;
}

.proj-img-div {
  /* overflow: hidden; */
}
.proj-img {
  width: 100%;
  border-radius: 5px;
}

.proj-content {
  background-color: rgba(12, 101, 237, 0.8);
  color: #fff;
  font-weight: 700;
  padding: 2% 4%;
  position: absolute;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  vertical-align: middle;
  bottom: 2%;
  left: 10%;
  right: 2%;
  /* height: 0; */
  transition: all 0.3s ease;
  text-align: center;
  padding: 2% 2%;

  opacity: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  transform: scaleX(0);
}
.project-body:hover .proj-content {
  opacity: 1;
  transition: all 0.3s ease;
  transform: scaleX(1);
}
.project-body:hover .proj-img-div {
  box-shadow: rgba(67, 67, 67, 0.3) 0px 0px 15px 0px;
}
.proj-brief {
  text-align: left;
  box-sizing: border-box;

  /* width: 80%; */
}

.proj-brief h5 {
  font-size: 18px;
  margin-bottom: 0;
}
.proj-title {
  font-size: 14px;
}
.proj-link,
.proj-link:hover {
  color: #ffffff;
  text-decoration: none;
}
.add-proj {
  vertical-align: middle;
  align-self: center;
  display: inline-block;
  cursor: pointer;
}
/**************************OUR TEM*************************************/
.our-team {
  padding: 7% 0;
}
.tmem {
  position: relative;
  text-align: center;
}
.team-img {
  vertical-align: middle;
  /* width: 100%; */
  margin: auto;
}

.tmem-name {
  text-decoration: none;
  color: rgb(26, 26, 26);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1%;
}
.team-info {
  bottom: -125px;
  transition: 0.5s;
  box-shadow: 0px 5px 15px 3px grey;
}
.cus-div {
  padding-bottom: 0 !important;
  border: none !important;
}
.cus-transition {
  transition: 0.5s;
}
.icons {
  transition-delay: 1s;
}
.our-creative-team .tmem:hover > div {
  bottom: 0;
}
.team-job,
.tmem-name:hover {
  color: #0c65ed;
}
.team-details {
  margin-bottom: 10%;
}

.team-social-contact {
  background-color: #0c65ed;
  color: #ffffff;
  transition: 0.3 all ease;
  position: relative;
}

/* .team-social-contact::after {
  position: absolute;
  top: -2px;
  content: "";
  background-color: #000;
  padding-top: 1%;
  width: 100%;
} */

tmem:hover .team-social-contact {
  transition: 0.3 all ease;
}
.team-social-contact i {
  cursor: pointer;
}

.team-social-contact i:hover {
  color: #000;
  transition: 0.3 all ease;
}

.tmem-info {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 12px 0px;
  font-size: 14px;
  /* position: absolute; */
  padding: 4% 12%;
  background: white;
  /* border-radius: 6px; */
  /* overflow: hidden; */
  width: 100%;
  transform: translateY(125px);
}
.team-details {
  margin-bottom: 10%;
  /* font-size: 0; */
  opacity: 0;
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: ease-out 1000ms;
}
.tmem-info:hover {
  transform: translateY(0px);
}
.tmem-info:hover .team-details {
  height: auto;
  opacity: 1;
  transition: ease-out 1000ms;
  box-shadow: 0 0 8px #d3d3d3;
}

.card-wrapper {
  padding: 2rem;
  width: 30%;
  transition: ease-out 1000ms;

  /* &:hover {
    box-shadow: 0 0 8px #d3d3d3;    
    cursor: pointer;
    max-height: 300px;
  } */
}
/*---------------------------------------------------------------------------------*/
/************************Pricing SEC*****************************************************/
/*---------------------------------------------------------------------------------*/
.pricing-sec {
  padding: 7% 0;
}
.custom-clr {
  border: 1px solid #0c65ed !important;
  background-color: #fff !important;
  color: #0c65ed !important;
}
.pricing-btn {
  width: 18%;
  text-align: center;
}
.per-mnth-btn {
  background-color: #0c65ed !important;
  color: white !important;
  border: solid 1px #0c65ed;
  font-weight: 600;
  display: inline-block;
  padding: 5% 4%;
  width: 100%;
  color: #fff;
  font-weight: 600;
  border: #0c65ed solid 1px !important;
  border-radius: 50px 0 0 50px !important;
}
.per-year-btn {
  background-color: #0c65ed !important;
  color: white !important;
  border: #0c65ed solid 1px !important;

  font-weight: 600;
  display: inline-block;
  padding: 5% 4%;
  width: 100%;
  color: #fff;
  border-radius: 0 50px 50px 0 !important;
}
.per-mnth-btn:focus,
.per-year-btn:focus {
  background-color: #fff !important;
  color: #0c65ed !important;
}
.pricing-card-body {
  padding: 10% 10%;
  text-align: center;
  color: #1a1a1a;
}

.pri-title {
  font-size: 40px;
  font-weight: 600;
}
.title-hr {
  width: 25%;
  margin: auto;
  background-color: #0c65ed;
  padding-top: 0.75%;
  margin-bottom: 10%;
}

.card-price {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10%;
}
.card-price span {
  color: #0c65ed;
}
.price-options {
  list-style: none;
  padding: 0;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10%;
}
.opt-tile {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
}
.opt-tile i {
  color: #0c65ed;
  font-weight: 900;
}
.price-opt p {
  color: #666666;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.b-t {
  border-top: 1px solid #eaeaea;
}
.price-opt {
  padding: 6% 0;
  border-bottom: 1px solid #eaeaea;
}

.pricing-card-btn {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  background-color: #0c65ed;
  padding: 5% 5%;
  border-radius: 50px;
  line-height: 1;
  font-weight: 600;
  /* margin-top: 4%; */
  align-self: flex-end;
  display: inline-block;
}

.pricing-card-btn:hover {
  color: #fff;
}
.card-bshadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 25px 0px;
  z-index: 1;
}
/*---------------------------------------------------------------------------------*/
/************************SUBSCRIBE SEC*****************************************************/
/*---------------------------------------------------------------------------------*/
.subscribe-sec {
  padding: 7% 0;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.subs-title-div {
  /* margin-bottom: 3%; */
  vertical-align: middle;
  display: inline;
}
.sub-envelope {
  display: inline-table;
  margin-right: 1%;
  font-size: 45px;
}
.subs-title {
  display: inline-table;
  font-size: 40px;
  margin: 0;
}
.subscr-email {
  justify-content: space-between;
}
.email-ip {
  /* box-sizing: border-box;
  padding: 0;
  height: 50%;
  vertical-align: middle;
  display: inline-block;
  outline: #ffffff; */
  width: 60%;
  padding-top: 0;
  padding-bottom: 0;
}
.email-ip:focus {
  outline: none !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}
.email-btn {
  width: 25%;
  font-weight: 600;
}
/********************************************************************************/
/*---------------------------TESTIMONIAL----------------------------------------*/
/********************************************************************************/
.testimonial-sec {
  padding: 7% 0;
}

.test-header-title {
  margin-bottom: 4%;
}
.inner-hr::before {
  content: "";
  white-space: pre;
  background-color: #0c65ed;
  padding-top: 0.2%;
  position: absolute;
  left: 27.2rem;
  top: 38%;
  vertical-align: middle;
  width: 3%;
  margin-bottom: 1%;
}
.inner-hr::after {
  content: "";
  white-space: pre;
  background-color: #0c65ed;
  padding-top: 0.2%;
  position: absolute;
  right: 27.2rem;
  top: 38%;
  vertical-align: middle;
  width: 3%;
  margin-bottom: 1%;
}
.testimonial-img-div {
}
.testimonial-img {
  vertical-align: middle;
  padding: 0;
}
.testimonial-content {
  padding: 0;
  font-size: 14px;
}
.testimonial-title {
  font-size: 18px;
  color: #1a1a1a;
  font-weight: 700;
}
.t-job {
  color: #0c65ed;
  font-size: 500;
}
.t-review {
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.testimonial-btn-next {
  background-color: #0c65ed;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  padding: 44% 97%;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  border-radius: 0 50px 50px 0;
}

.testimonial-btn-prev {
  border-radius: 50px 0 0 50px;
  background-color: #0c65ed;
  padding: 2% 3%;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  padding: 44% 97%;
  margin-right: 4%;
}
.owl-next {
  margin: 0 2% !important;
  display: block;
}
/*---------------------------------------------------------------------------------*/
/************************latest blog*****************************************************/
/*---------------------------------------------------------------------------------*/
.blog-sec {
  padding: 7% 0;
  background-color: #f9f9f9;
}
.blog-header {
  text-align: center;
}

/*TITLE*/
.header-title {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1a1a1a;
  position: relative;
  padding: 0 25px;
  display: inline-block;
  position: relative;
}
.header-title::before {
  content: "";
  white-space: pre;
  background-color: #0c65ed;
  padding-top: 0.25%;
  position: absolute;
  left: 24rem;
  top: 50%;
  vertical-align: middle;
  width: 7%;
}
.header-title::after {
  content: "";
  white-space: pre;
  background-color: #0c65ed;
  padding-top: 0.25%;
  position: absolute;
  top: 50%;
  right: 24rem;
  vertical-align: middle;
  width: 7%;
}
.header-p {
  /* padding: 0 18%; */
}
.blog-flx {
  justify-content: space-between;
}
.blog-card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border: #fff;
  border-radius: 5px;
}
.side-icons {
  background-color: #000;
  color: #fff;
  list-style: none;
  height: inherit;
  margin: 0;
  padding: 4% 4%;
}
.side-icons li {
  margin-bottom: 18%;
  display: block;
}
.side-icons li i {
  line-height: 1.8;
  font-size: 18px;
}
.side-icons li i:hover {
  opacity: 0.4;
  transition: all 0.3s ease;
  cursor: pointer;
}
.blog-title {
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #000;
  text-decoration: none;
}

.blog-info {
  font-family: "Josefin Sans", sans-serif;
  color: #858585;
  font-size: 12px;
  display: block;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.blog-info::after {
  content: "";
  white-space: pre;
  padding-top: 1%;
  display: block;
  background-color: #0c65ed;
  width: 40%;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
}
.blog-card:hover .blog-info::after {
  width: 50%;
  transition: all 0.3s ease;
}

.blog-author {
  border-right: 1px solid #858585;
  padding: 0 4%;
  /* width: 50%; */
}
.blog-date {
  padding: 0 4%;
  /* width: 50%; */
}
.blog-author:hover,
.blog-date:hover,
.blog-title:hover {
  cursor: pointer;
  color: #0c65ed;
  transition: all 0.3s ease;
}
.card-link {
}
.blog-img-div {
  overflow: hidden;
}
.blog-img {
  width: 100%;
}
.blog-card:hover .blog-img {
  transform: rotate(-7deg) scale(1.2);
  transition: transform 0.3s ease-in-out;
  /*transform: scale(1.5); */
  /* transform: matrix(-1, -2, -1, 1, 0, 0); */
  overflow: hidden;
}
.blog-card:hover .side-icons {
  background-color: #0c65ed;
  transition: all 0.3s ease;
}
.blog-brief {
  margin-top: 6%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #666666;
}
.card-blog-link {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #000;
}
.anchor-arrow {
  display: inline-block;
  font-weight: 700;
  margin-left: 2%;
}
.card-blog-link:hover .anchor-arrow {
  transform: translateX(0.5em);
  transition: all 0.3s ease;
}
/*---------------------------------------------------------------------------------*/
/************************MEET OUR CLIENTS*****************************************************/
/*---------------------------------------------------------------------------------*/
.clients-sec {
  padding-top: 7%;
}
.client-img {
  display: inline-block;
  /* position: absolute; */
}
.clients-body {
  width: 70%;
  float: right;
  /* display: inline-block; */
}
.client-logo {
  padding: 4% 0%;
  border: 1px solid #959595;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2%;
  margin-right: 2%;
  overflow: hidden;
  position: relative;
  width: 85%;
}
.client-logo img {
  /* display: inline-block; */
  vertical-align: middle;
  top: 50%;
  left: 50%;
  height: 85px;
}
/* //// */
.clients-footer {
  background-color: #0c65ed;
  padding: 4% 0;
}
clients-footer-title {
  text-transform: capitalize;
}
/*---------------------------------------------------------------------------------*/
/************************FOOTER*****************************************************/
/*---------------------------------------------------------------------------------*/

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: left;
}
.footer-title {
  margin-bottom: 7%;
  position: relative;
  font-weight: 600;
  display: block;
  font-size: 30px;
}
.footer-title::after {
  content: "";
  padding: 0;
  bottom: -118%;

  position: absolute;
  padding-top: 0.5%;
  white-space: pre;
  display: block;
  background-color: #0c65ed;
  width: 15%;
  /* margin: 3%; */
  margin-bottom: 7%;
  text-align: left;
}
.footer-posts-card {
  list-style: none;
  flex-direction: column;
  width: 80%;
}
/*contact-info*/
.contact-info-body {
  list-style: none;
}
/*POSTS*/
.footer-post-content {
  justify-content: space-between;
  padding: 4% 0;
}
.footer-img-anchor {
  object-fit: cover;
  width: 20%;
  height: 60px;
}
.footer-post-body {
  padding-left: 4%;
  padding-right: 5%;
  vertical-align: middle;
  color: #c6c6c6;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}
.footer-post-img {
  width: 100%;
  height: inherit;
}
.footer-post-img:hover {
  filter: brightness(0.8);
}
.footer-post-title {
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  transition: all ease 0.3s;
}

.footer-post-content:first-child {
  border-bottom: 2px solid #464646;
}
.footer-post-title:hover {
  color: #bababa;
  transition: all ease 0.3s;
}
/************POPULAR**********/
.footer-btn {
  color: #000;
  font-size: 14px !important;
  background-color: #f9f9f9;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 15px;
  margin: 3% 0;
  margin-right: 5%;
  padding: 1.5% 2.75%;
}
.footer-btn:hover {
  transition: all 0.3s ease;
  background-color: #0c65ed;
  color: #fff;
}
/*************/
.footer-cpyright {
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
  background-color: #1a1a1a;
  color: #0c65ed;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding: 2% 0;
}
.footer-cpyright a {
  cursor: pointer;
}
footer ul {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
/*_______________________________________________________________________________________________________________________________________________________*/
/*********************************CONTAVT>html******************************************************************************************/
.contactpg {
  background-image: url(http://dazzlersoftware.com/testwp/munix-pro/wp-content/themes/munix-pro/img/abt-ban.jpg);
  background-repeat: no-repeat;
}
.contactpg h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  vertical-align: middle;
}
.title-p {
  padding-top: 10%;
}

.con-sec {
  padding: 4% 0;
}
.sec-title {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: #1a1a1a;
  margin-bottom: 7%;
}

.contact-icon {
  color: #0c65ed;
}
.con-body h4 {
  font-size: 18px;
}

.con-body p {
  font-size: 14px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #666666;
}
form div {
  position: relative;
}

form i {
  position: absolute;
  padding: 0.8rem 0 0.8rem 0.3rem;
}

.oline {
  outline: none !important;
  padding: 2% 6%;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
}

.form-btn {
  border-radius: 50px;
  padding: 1% 5%;

  background-color: #0c65ed;
  color: #fff;
  font-size: 18px;
  margin-top: 4%;
}
/******************/
/*purchase*/
.pur-sec {
  background-color: #0c65ed;
  color: #fff;
}

.pur-btn {
  background-color: #fff;
  color: #0c65ed;
  border-radius: 50px;
  padding: 3% 8%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: 0;
}
/**********************/
/*to the top of the page*/
.arrow-home {
  position: fixed;
  font-size: 45px;
  color: #0c65ed;
  font-weight: bold;
  right: 4%;
  top: 85%;
  z-index: 2;
  /* box-shadow: 2px 2px 2px #232323; */
}

.b-home,
.b-home:hover {
  color: #fff;
  text-decoration: none;
}
.sub-icon {
  font-size: 7rem;
  opacity: 0.4;
  transform: rotate(-40deg);
  left: 19%;
}
